{% extends "layout.html" %}
{% block content %}

{% block head %}
<link rel="stylesheet" href="/static/css/template.css" type="text/css" />
<link rel="stylesheet" href="/static/css/site.css" type="text/css" />
{% endblock %}

<!--  <div class="jumbo"> -->
   <div id="wrapper" style="max-width:1180px;">


     <div id="header_container">
       <div id="header">
          <div id="logo">
              <a class="imglogo" href="/"><img alt="Logo" src="/static/img/institut_2015_1x2_print2_2.jpg"/></a>
              <a style="color:#0066B3;" class="logo" href="/"> Государственное бюджетное  учреждение дополнительного профессионального образования  «Ставропольский краевой институт развития образования, повышения квалификации и переподготовки работников образования»</a>
          </div>
          <span class="heckl">&nbsp;</span>
          <span class="heckr">&nbsp;</span>
        </div>
       </div> <!-- header -->
     </div> <!-- header_container -->
   </div> <!-- wrapper -->

<!--
    <h2>{{ _("welcome_str") }}<h2>
    <h3>{{ _("welcome_str2") }}<h3>
  </div>
-->
{% endblock %}
