{% extends "layout.html" %}

{% block content %}
  <h2>{{ _("Sign up") }}</h2>

  {% for message in form.login.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  
  {% for message in form.password.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  
  <form action="{{ url_for('signup') }}" method=post>
    {{ form.hidden_tag() }}
    
    {{ form.login.label }}
    {{ form.login }}

    {{ form.role.label }}
    {{ form.role }}
    
    {{ form.password.label }}
    {{ form.password }}
    
    {{ form.submit }}
  </form>
    
{% endblock %}
