<!DOCTYPE html>
<html class=" history webworkers supports fontface cssanimations csstransforms csstransforms3d csstransitions bloburls cssmask" style="" data-url="https://shikimori.one/animes/{{anime_id}}/video_online/{{anime_videos['active_video']['episode']}}">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <link href="https://shikimori.one/favicon.ico" rel="icon" type="image/x-icon">
      <link href="https://shikimori.one/favicons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
      <link href="https://shikimori.one/favicons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
      <link href="https://shikimori.one/favicons/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
      <link href="https://shikimori.one/favicons/favicon-192x192.png" rel="icon" sizes="192x192" type="image/png">
      <link href="https://shikimori.one/favicons/manifest.json" rel="manifest">
      <link href="https://shikimori.one/favicons/apple-touch-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
      <link href="https://shikimori.one/favicons/apple-touch-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
      <link href="https://shikimori.one/favicons/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
      <link href="https://shikimori.one/favicons/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
      <link href="https://shikimori.one/favicons/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
      <link href="https://shikimori.one/favicons/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
      <link href="https://shikimori.one/favicons/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
      <link href="https://shikimori.one/favicons/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
      <link href="https://shikimori.one/favicons/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
      <link color="#000000" href="https://shikimori.one/favicons/safari-pinned-tab.svg" rel="mask-icon">
      <meta content="#000000" name="theme-color">
      <meta content="#000000" name="msapplication-TileColor">
      <meta content="/favicons/ms-icon-144x144.png" name="msapplication-TileImage">
      <meta content="/favicons/browserconfig.xml" name="msapplication-config">
      <link href="https://shikimori.one/favicons/opera-icon-228x228.png" rel="icon" sizes="228x228">
      <link href="https://shikimori.one/search.xml" rel="search" title="shikimori.one" type="application/opensearchdescription+xml">
      <link href="https://shikimori.one/yandex-tableau-widget-manifest.json" rel="yandex-tableau-widget">
      <link href="https://shikimori.one/animes/{{anime_id}}/video_online/{{anime_videos['active_video']['episode']}}" rel="canonical">
      <meta content="video.tv_show" property="og:type">
      <meta content="Эпизод {{anime_videos['active_video']['episode']}}" property="og:title">
      <meta content="В этой истории рассказывается о парне по имени Эйджун Савамура, молодом и подающем надежды питчере. Он присоединяется к  команде элитной школы, где сияет бриллиантом талант Казуи Миюки — гениального кэтчера. Савамура жаждет стать выдающимся..." property="og:description">
      <meta content="https://dere.shikimori.one/system/animes/preview/{{anime_id}}.jpg" property="og:image">
      <meta content="https://shikimori.one/animes/{{anime_id}}/video_online/{{anime_videos['active_video']['episode']}}" property="og:url">
      <meta content="Шикимори" property="og:site_name">
      <meta content="1440" property="video:duration">
      <meta content="2015-03-29" property="video:release_date">
      <meta content="Комедия" property="video:tag">
      <meta content="Школа" property="video:tag">
      <meta content="Сёнен" property="video:tag">
      <meta content="Спорт" property="video:tag">
      <meta content="Эпизод {{anime_videos['active_video']['episode']}}" name="twitter:title">
      <meta content="В этой истории рассказывается о парне по имени Эйджун Савамура, молодом и подающем надежды питчере. Он присоединяется к  команде элитной школы, где сияет бриллиантом талант Казуи Миюки — гениального кэтчера. Савамура жаждет стать выдающимся..." name="twitter:description">
      <meta content="https://dere.shikimori.one/system/animes/preview/{{anime_id}}.jpg" name="twitter:image">
      <meta content="Шикимори" name="twitter:site">
      <title>Эпизод {{anime_videos['active_video']['episode']}} / {{anime_videos['active_video']['anime_english']}} / Аниме</title>
      <meta content="В этой истории рассказывается о парне по имени Эйджун Савамура, молодом и подающем надежды питчере. Он присоединяется к  команде элитной школы, где сияет бриллиантом талант Казуи Миюки — гениального кэтчера. Савамура жаждет стать выдающимся..." name="description">
      <meta content="noindex,nofollow" name="robots">
      <meta name="csrf-param" content="authenticity_token">
      <meta name="csrf-token" content="token">
      <link rel="stylesheet" media="all" href="/static/css/vendor-b7c5e5b460ee6d42394d4c623cc67e9c.css" data-turbolinks-track="reload">
      <link rel="stylesheet" media="all" href="/static/css/application-7fb9963010925e94a860c905c5ea3cd6a0f97059b5beadb608124382c4aad547.css" data-turbolinks-track="reload">
      <link rel="stylesheet" media="all" href="/static/css/application-66842a3bc2502e8bb164dfafc07c90d22262505b9a7b6df29a67be1ccda9fe98.css" data-turbolinks-track="reload">
<!--
      <script async="" src="/static/js/analytics.js"></script>
-->
<script src="/static/js/vendor-327c50279581c48a75bd.js" data-turbolinks-track="reload"></script>
      <script src="/static/js/application-72c2fdbb8b0c05595f08.js" data-turbolinks-track="reload"></script>
   </head>
   <body class="p-anime_videos p-anime_videos-index p-db_entries p-db_entries-index p-animes p-animes-index x1200 chrome" data-camo_url="https://camo-v2.shikimori.one/" data-env="production" data-faye="[&quot;/user-0&quot;]" data-faye_url="/faye" data-js_export_supervisor_keys="[&quot;user_rates&quot;,&quot;topics&quot;,&quot;comments&quot;,&quot;polls&quot;]" data-locale="ru" data-localized_genres="ru" data-localized_names="ru" data-server_time="2019-05-18T00:51:31+03:00" data-user="{&quot;id&quot;:0,&quot;url&quot;:&quot;https://shikimori.one/User&quot;,&quot;is_moderator&quot;:false,&quot;ignored_topics&quot;:[],&quot;ignored_users&quot;:[],&quot;is_day_registered&quot;:true,&quot;is_week_registered&quot;:true,&quot;is_ignore_copyright&quot;:true,&quot;is_comments_auto_collapsed&quot;:true,&quot;is_comments_auto_loaded&quot;:true}" id="anime_videos_index">
      <style id="custom_css" type="text/css">@media only screen and (min-width: 1024px) { .l-page:before, .l-page:after, .l-footer:before, .l-footer:after { display: none; } }</style>
      <header class="l-top_menu-v2">
         <div class="menu-logo">
            <a class="logo-container" href="https://shikimori.one/" title="Шикимори">
               <div class="glyph"></div>
               <div class="logo"></div>
            </a>
            <div class="menu-dropdown main">
               <span class="menu-icon trigger mobile" tabindex="-1"></span><span class="submenu-triangle icon-play" tabindex="0"><span>Аниме Онлайн</span></span>
               <div class="submenu" style="display: block;">
                  <div class="legend">База данных</div>
                  <a class="icon-anime" href="https://shikimori.one/animes" tabindex="-1" title="Аниме">Аниме</a><a class="icon-manga" href="https://shikimori.one/mangas" tabindex="-1" title="Манга">Манга</a><a class="icon-ranobe" href="https://shikimori.one/ranobe" tabindex="-1" title="Ранобэ">Ранобэ</a>
                  <div class="legend">Сообщество</div>
                  <a class="icon-forum" href="https://shikimori.one/forum" tabindex="-1" title="Форум">Форум</a><a class="icon-clubs" href="https://shikimori.one/clubs" tabindex="-1" title="Клубы">Клубы</a><a class="icon-collections" href="https://shikimori.one/collections" tabindex="-1" title="Коллекции">Коллекции</a><a class="icon-reviews" href="https://shikimori.one/forum/reviews" tabindex="-1" title="Рецензии">Рецензии</a><a class="icon-users" href="https://shikimori.one/users" tabindex="-1" title="Пользователи">Пользователи</a>
                  <div class="legend">Разное</div>
                  <a class="icon-contests" href="https://shikimori.one/contests" tabindex="-1" title="Турниры">Турниры</a><a class="icon-calendar" href="https://shikimori.one/ongoings" tabindex="-1" title="Календарь">Календарь</a>
                  <div class="legend">Информация</div>
                  <a class="icon-info" href="https://shikimori.one/about" tabindex="-1" title="О сайте">О сайте</a><a class="icon-socials" href="https://shikimori.one/forum/site/270099-my-v-sotsialnyh-setyah" tabindex="-1" title="Мы в соц. сетях">Мы в соц. сетях</a><a class="icon-moderation" href="https://shikimori.one/moderations" tabindex="-1" title="Модерация">Модерация</a>
               </div>
            </div>
         </div>
         <div class="menu-icon search mobile" tabindex="-1"></div>
         <div class="global-search" data-autocomplete_anime_url="https://shikimori.one/animes/autocomplete/v2" data-autocomplete_character_url="https://shikimori.one/characters/autocomplete/v2" data-autocomplete_manga_url="https://shikimori.one/mangas/autocomplete/v2" data-autocomplete_person_url="https://shikimori.one/people/autocomplete/v2" data-autocomplete_ranobe_url="https://shikimori.one/ranobe/autocomplete/v2" data-search_anime_url="https://shikimori.one/animes" data-search_character_url="https://shikimori.one/characters" data-search_manga_url="https://shikimori.one/mangas" data-search_person_url="https://shikimori.one/people" data-search_ranobe_url="https://shikimori.one/ranobe">
            <label class="field"><input placeholder="Поиск..." type="text"><span class="clear" tabindex="-1"></span><span class="hotkey-marker"></span><span class="search-marker"></span></label>
            <div class="search-results"></div>
         </div>
         <a class="menu-icon forum desktop" href="https://shikimori.one/forum" title="Форум"></a><a class="menu-icon contest" data-count="1" href="https://shikimori.one/contests/current" title="Текущий турнир"></a><a class="menu-icon mail" data-count="99" href="https://shikimori.one/User/messages/news" title="Почта"></a>
         <div class="menu-dropdown profile">
            <span data-unread_count="99" tabindex="0"><a class="submenu-triangle" href="https://shikimori.one/User"><img alt="User" src="https://shikimori.org/images/smileys/:ololo:.gif" srcset="https://shikimori.org/images/smileys/:ololo:.gif" title="User"><span class="nickname">User</span></a></span>
            <div class="submenu" style="display: block;">
               <div class="legend">Аккаунт</div>
               <a class="icon-profile" href="https://shikimori.one/User" tabindex="-1" title="Профиль"><span class="text">Профиль</span></a><a class="icon-anime_list" href="https://shikimori.one/User/list/anime" tabindex="-1" title="Список аниме"><span class="text">Список аниме</span></a><a class="icon-manga_list" href="https://shikimori.one/User/list/manga" tabindex="-1" title="Список манги"><span class="text">Список манги</span></a><a class="icon-mail" href="https://shikimori.one/User/messages/news" tabindex="-1" title="Почта"><span class="text">Почта<span class="unread"><span>0</span><span>474</span><span>0</span></span></span></a><a class="icon-achievements" href="https://shikimori.one/User/achievements" tabindex="-1" title="Ачивки"><span class="text">Ачивки</span></a><a class="icon-settings" href="https://shikimori.one/User/edit/account" tabindex="-1" title="Настройки"><span class="text">Настройки</span></a>
               <div class="legend">Сайт</div>
               <a class="icon-site_rules" href="https://shikimori.one/forum/site/79042-pravila-sayta" tabindex="-1" title="Правила сайта"><span class="text">Правила сайта</span></a><a class="icon-faq" href="https://shikimori.one/clubs/1093-faq-chasto-zadavaemye-voprosy" tabindex="-1" title="FAQ"><span class="text">FAQ</span></a><a class="icon-sign_out" data-method="delete" href="https://shikimori.one/users/sign_out" tabindex="-1">Выход</a>
            </div>
         </div>
      </header>
      <section class="l-page">
         <div>
            <div class="menu-toggler">
               <div class="toggler"></div>
            </div>
            <header class="head">
               <meta content="{{anime_videos['active_video']['anime_english']}}" itemprop="name">
               <h2><a class="back" data-text="назад" href="https://shikimori.one/animes/{{anime_id}}" title="Назад на страницу {{anime_videos['active_video']['anime_english']}}"></a>{{anime_videos['active_video']['anime_russian']}} <span class="b-separator inline">/</span> {{anime_videos['active_video']['anime_english']}}</h2>
               <div class="b-breadcrumbs"><span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a class="b-link" href="https://shikimori.one/animes" itemprop="url" title="Аниме"><span itemprop="title">Аниме</span></a></span><span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a class="b-link" href="https://shikimori.one/animes?type=tv" itemprop="url" title="Сериалы"><span itemprop="title">Сериалы</span></a></span><span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a class="b-link" href="https://shikimori.one/animes/genre/23-School" itemprop="url" title="Школа"><span itemprop="title">Школа</span></a></span><span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a class="b-link" href="https://shikimori.one/animes/{{anime_id}}" itemprop="url" title="{{anime_videos['active_video']['anime_russian']}}"><span itemprop="title">{{anime_videos['active_video']['anime_russian']}}</span></a></span></div>
            </header>
            <div class="menu-slide-outer x199">
               <div class="menu-slide-inner">
                  <div class="l-content">
                     <div class="block">
                        <div class="player-container">
                           <div class="b-video_player" data-episode="{{anime_videos['active_video']['episode']}}" data-kind="fandub" data-video_id="{{anime_videos['active_video']['id']}}" data-video_ids="[{{anime_videos['active_video']['id']}}]" data-watch-delay="480000" data-watch-url="https://shikimori.one/animes/{{anime_id}}/video_online/{{anime_videos['active_video']['id']}}/track_view">
                              <div class="player-area"><iframe src="{{anime_videos['active_video']['url']}}" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no" allowfullscreen="allowfullscreen" style="height: 502px;"></iframe></div>
                              <div class="cc-anime_video_report-new">
                                 <div class="cc-2a">
                                    <div class="c-column">
                                       <p class="m5"><b>Жалоба на видео</b></p>
                                       <div class="m15">
                                          <div class="b-prgrph">Сайт ничего своего не добавляет к видео плеерам: ни рекламу, ни редиректы на другие сайты.</div>
                                          <div class="b-prgrph">Всё, что происходит при просмотре видео, это действия</div>
                                          <ul class="b-list">
                                             <li> либо самого видео хостинга, с которого проигрывается видео;<br>  </li>
                                             <li> либо плагинов, установленных в твоём браузере;<br>  </li>
                                             <li> либо вирусов, живущих на твоём компьютере;<br></li>
                                          </ul>
                                          <div class="b-prgrph">Шикимори никак не влияет на работу видео плеера!</div>
                                       </div>
                                    </div>
                                    <div class="c-column">
                                       <form class="simple_form b-form new_anime_video_report" id="new_anime_video_report" novalidate="novalidate" action="https://shikimori.one/moderations/anime_video_reports" accept-charset="UTF-8" data-remote="true" method="post">
                                          <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="e17xLvXk2hUtPPNybBmOBIJ2/PPYX82QyydhOTbItgl/ggTHoKvHKygj+/9VVAhP/KLi422Tv3wrWVUH58PmHw==">
                                          <div class="b-input hidden anime_video_report_anime_video_id"><input class="hidden" type="hidden" value="901945" name="anime_video_report[anime_video_id]" id="anime_video_report_anime_video_id"></div>
                                          <div class="b-input hidden anime_video_report_user_id"><input class="hidden" type="hidden" value="0" name="anime_video_report[user_id]" id="anime_video_report_user_id"></div>
                                          <div class="b-input hidden anime_video_report_state"><input class="hidden" type="hidden" value="pending" name="anime_video_report[state]" id="anime_video_report_state"></div>
                                          <div class="b-input select required anime_video_report_kind">
                                             <label class="select required control-label" for="anime_video_report_kind"><abbr title="Обязательное поле">*</abbr> Причина</label>
                                             <select class="select required" name="anime_video_report[kind]" id="anime_video_report_kind">
                                                <option selected="selected" value="broken">видео не работает</option>
                                                <option value="wrong">видео не к тому аниме</option>
                                                <option value="other">прочее</option>
                                             </select>
                                          </div>
                                          <div class="b-input string optional anime_video_report_message field_with_hint"><label class="string optional control-label" for="anime_video_report_message">Сообщение модератору</label><input class="string optional" type="text" name="anime_video_report[message]" id="anime_video_report_message"><span class="hint">не обязательно</span></div>
                                          <div class="buttons">
                                             <div class="cancel">Отмена</div>
                                             <input type="submit" name="commit" value="Отправить" class="btn-primary btn-submit btn" data-disable-with="Отправка…" id="submit_anime_video_report" autocomplete="off" tabindex="0">
                                          </div>
                                       </form>
                                    </div>
                                 </div>
                              </div>
                              <div class="cc-player_controls cc-2a">
                                 <div class="c-column">
                                    <div class="cc-navigation">
                                       <a class="c-control prev" href="/animes/{{anime_id}}/video_online/{{anime_videos['active_video']['episode'] - 1}}">
                                          <div class="icon"></div>
                                          <div class="label">Предыдущий</div>
                                       </a>
                                       <div class="c-control episode-num">
                                          <span>Эпизод</span><b> #</b><input data-href="/animes/{{anime_id}}/video_online/EPISODE_NUMBER" type="text" value="{{anime_videos['active_video']['episode']}}">
                                          <div class="video-link"><a href="{{anime_videos['active_video']['url']}}" target="_blank">прямая ссылка</a></div>
                                       </div>
                                       <a class="c-control next" href="/animes/{{anime_id}}/video_online/{{anime_videos['active_video']['episode'] + 1}}">
                                          <div class="icon"></div>
                                          <div class="label">Следующий</div>
                                       </a>
                                    </div>
                                    <div class="cc-optional_controls">
<!--
                                       <a class="c-control upload" data-dynamic="day_registered" href="https://shikimori.one/animes/{{anime_id}}/video_online/new?anime_video%5Banime_id%5D=18689&amp;anime_video%5Bepisode%5D=55&amp;anime_video%5Bkind%5D=fandub&amp;anime_video%5Blanguage%5D=russian&amp;anime_video%5Bquality%5D=tv&amp;anime_video%5Bsource%5D=shikimori.one&amp;anime_video%5Bstate%5D=uploaded">
                                          <div class="icon"></div>
                                          <div class="label">Загрузить</div>
                                       </a>
-->
<!--
                                       <a class="c-control edit" href="/animes/{{anime_id}}/video_online/{{anime_videos['active_video']['id']}}/edit">
                                          <div class="icon"></div>
                                          <div class="label">Редактировать</div>
                                       </a>
-->
                                    </div>
                                 </div>
                                 <div class="c-column">
                                    <div class="cc-options">
                                       <div class="c-buttons cc-3a">
                                          <a class="c-column c-control increment-user_rate" data-method="post" data-next_url="/animes/{{anime_id}}/video_online/{{anime_videos['active_video']['episode'] + 1}}" data-remote="true" href="https://shikimori.one/animes/{{anime_id}}/video_online/{{anime_videos['active_video']['id']}}/viewed">
                                             <div class="icon"></div>
                                             <div class="label">Просмотрено</div>
                                          </a>
                                          <div class="c-column c-control show-options">
                                             <div class="icon"></div>
                                             <div class="label">Опции</div>
                                          </div>
                                          <div class="c-column c-control report">
                                             <div class="icon"></div>
                                             <div class="label">Пожаловаться</div>
                                          </div>
                                       </div>
                                       <div class="c-video_stats">
                                          <div class="views_count">1425 просмотров</div>
                                          <div class="uploader">
                                             <div class="b-user16"><a href="https://shikimori.one" title="{{anime_videos['active_video']['uploader']}}"><img alt="{{anime_videos['active_video']['uploader']}}" src="https://desu.shikimori.one/system/users/x32/16178.png?1506795242" srcset="https://desu.shikimori.one/system/users/x32/16178.png?1506795242 2x"><span>{{anime_videos['active_video']['uploader']}}</span></a></div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="cc block">
                           <div class="c-videos">
                              <div class="title">
                                 Варианты видео
                                 <div class="video-variant-switcher active" data-kind="fandub">озвучка</div>
                                 <div class="video-variant-switcher" data-kind="subtitles">субтитры</div>
                                 <div class="video-variant-switcher" data-kind="raw">оригинал</div>
                                 <div class="video-variant-switcher" data-kind="all">все</div>
                              </div>
			      {% for kind in ["fandub", "subtitles", "raw"] %}
			       {% if anime_videos["active_kind"] == kind %}
                               <div class="video-variant-group active" data-kind="{{kind}}">
			       {% else %}
			       <div class="video-variant-group" data-kind="{{kind}}">
			       {% endif %}
				{% for a in anime_videos[kind] %}
                                 <div class="b-video_variant{{a['active']}}" data-video_id="{{a['id']}}">
				<!--	<a class="working" data-remote="true" data-type="html" href="/animes/{{a['anime_id']}}/video_online/{{a['episode']}}/{{a['id']}}">-->
					<a href="/animes/{{a['anime_id']}}/video_online/{{a['episode']}}/{{a['id']}}">
					<span class="video-kind {{a['language']}}">{{_(a['kind'])}}</span><span class="video-hosting">{{a['video_hosting']}}</span><span class="video-author">{{a['author']}}</span>
					</a>
				</div>
                                {% endfor %}
				
                              </div>
			      {% endfor %}

                              <div class="video-variant-group" data-kind="all">
				 {% for kind in ["fandub", "subtitles", "raw"] %}
				 {% for a in anime_videos[kind] %}
                                 <div class="b-video_variant{{a['active']}}" data-video_id="{{a['id']}}"><a class="working" data-remote="true" data-type="html" href="/animes/{{a['anime_id']}}/video_online/{{a['episode']}}/{{a['id']}}"><span class="video-kind {{a['language']}}">{{_(a['kind'])}}</span><span class="video-hosting">{{a['video_hosting']}}</span><span class="video-author">{{a['author']}}</span></a></div>
				 {% endfor %}
				 {% endfor %}
                              </div>
                           </div>
                           <div class="c-anime_video_episodes">
                              <div class="title">Эпизоды</div>
			      {% for i in range(1, anime_info["duration"] + 1) %}
                              <div class="b-video_variant" data-episode="{{i}}"><a href="/animes/{{anime_id}}/video_online/{{i}}"><span class="episode-num">#{{i}}</span><span class="episode-kinds">озвучка, субтитры, оригинал</span><span class="episode-hostings">vk, smotretanime, sibnet, ok</span></a></div>
                              {% endfor %}
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <aside class="l-menu">
                     <div class="b-animes-menu">
                        <div class="b-menu_logo">
                           <center><a href="https://shikimori.one/animes/{{anime_id}}" title="{{anime_info['anime_russian']}}"><img alt="{{anime_info['anime_russian']}}" src="https://kawai.shikimori.one/system/animes/preview/{{anime_id}}.jpg"></a></center>
                        </div>
<!--
                        <div class="block">
                           <div class="subheadline">Оценки людей</div>
                           <div data-bar="horizontal" data-stats="[{&quot;name&quot;:10,&quot;value&quot;:612},{&quot;name&quot;:9,&quot;value&quot;:472},{&quot;name&quot;:8,&quot;value&quot;:737},{&quot;name&quot;:7,&quot;value&quot;:430},{&quot;name&quot;:6,&quot;value&quot;:166},{&quot;name&quot;:5,&quot;value&quot;:79},{&quot;name&quot;:4,&quot;value&quot;:21},{&quot;name&quot;:3,&quot;value&quot;:6},{&quot;name&quot;:2,&quot;value&quot;:5},{&quot;name&quot;:1,&quot;value&quot;:10}]" id="rates_scores_stats" class="bar simple horizontal">
                              <div class="line">
                                 <div class="x_label">10</div>
                                 <div class="bar-container">
                                    <div class="bar s0 min" style="width: 83.03%" title="612">
                                       <div class="value mini">612</div>
                                    </div>
                                 </div>
                              </div>
                              <div class="line">
                                 <div class="x_label">9</div>
                                 <div class="bar-container">
                                    <div class="bar s1 min" style="width: 64.04%" title="472">
                                       <div class="value mini">472</div>
                                    </div>
                                 </div>
                              </div>
                              <div class="line">
                                 <div class="x_label">8</div>
                                 <div class="bar-container">
                                    <div class="bar s0 min" style="width: 100%" title="737">
                                       <div class="value mini">737</div>
                                    </div>
                                 </div>
                              </div>
                              <div class="line">
                                 <div class="x_label">7</div>
                                 <div class="bar-container">
                                    <div class="bar s2 min" style="width: 58.34%" title="430">
                                       <div class="value mini">430</div>
                                    </div>
                                 </div>
                              </div>
                              <div class="line">
                                 <div class="x_label">6</div>
                                 <div class="bar-container">
                                    <div class="bar s3 min" style="width: 22.52%" title="166">
                                       <div class="value mini">166</div>
                                    </div>
                                 </div>
                              </div>
                              <div class="line">
                                 <div class="x_label">5</div>
                                 <div class="bar-container">
                                    <div class="bar s3 min" style="width: 10.71%" title="79">
                                       <div class="value">79</div>
                                    </div>
                                 </div>
                              </div>
                              <div class="line">
                                 <div class="x_label">4</div>
                                 <div class="bar-container">
                                    <div class="bar s3 min" style="width: 2.84%" title="21">
                                       <div class="value narrow"></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="block">
                           <div class="subheadline">В списках у людей</div>
                           <div data-bar="horizontal" data-stats="[{&quot;name&quot;:&quot;Просмотрено&quot;,&quot;value&quot;:4697},{&quot;name&quot;:&quot;Брошено&quot;,&quot;value&quot;:462},{&quot;name&quot;:&quot;Отложено&quot;,&quot;value&quot;:430},{&quot;name&quot;:&quot;Запланировано&quot;,&quot;value&quot;:3154},{&quot;name&quot;:&quot;Смотрю&quot;,&quot;value&quot;:1091}]" id="rates_statuses_stats" class="bar simple horizontal">
                              <div class="line">
                                 <div class="x_label">Просмотрено</div>
                                 <div class="bar-container">
                                    <div class="bar s0 min" style="width: 100%" title="4697">
                                       <div class="value mini">4697</div>
                                    </div>
                                 </div>
                              </div>
                              <div class="line">
                                 <div class="x_label">Брошено</div>
                                 <div class="bar-container">
                                    <div class="bar s3 min" style="width: 9.83%" title="462">
                                       <div class="value narrow mini"></div>
                                    </div>
                                 </div>
                              </div>
                              <div class="line">
                                 <div class="x_label">Отложено</div>
                                 <div class="bar-container">
                                    <div class="bar s3 min" style="width: 9.15%" title="430">
                                       <div class="value narrow mini"></div>
                                    </div>
                                 </div>
                              </div>
                              <div class="line">
                                 <div class="x_label">Запланировано</div>
                                 <div class="bar-container">
                                    <div class="bar s1 min" style="width: 67.14%" title="3154">
                                       <div class="value mini">3154</div>
                                    </div>
                                 </div>
                              </div>
                              <div class="line">
                                 <div class="x_label">Смотрю</div>
                                 <div class="bar-container">
                                    <div class="bar s3 min" style="width: 23.22%" title="1091">
                                       <div class="value mini"></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="total-rates">В списках у 9834 человек</div>
                        </div>
                        <div class="b-favoured">
                           <div class="subheadline m10">
                              <a class="" href="https://shikimori.one/animes/{{anime_id}}/favoured">
                                 В избранном
                                 <div class="count">78</div>
                              </a>
                           </div>
                           <div class="cc">
                              <div class="b-user c-column avatar" id="21174"><a class="avatar" href="https://shikimori.one/dariya0203" title="dariya0203"><img alt="dariya0203" src="/Эпизод 55 _ {{anime_videos['active_video']['anime_english']}} _ Аниме_files/21174.png" srcset="https://dere.shikimori.one/system/users/x64/21174.png?1447463910 2x"></a></div>
                              <div class="b-user c-column avatar" id="19226"><a class="avatar" href="https://shikimori.one/D.K." title="D.K."><img alt="D.K." src="/Эпизод 55 _ {{anime_videos['active_video']['anime_english']}} _ Аниме_files/19226.png" srcset="https://kawai.shikimori.one/system/users/x64/19226.png?1400316504 2x"></a></div>
                              <div class="b-user c-column avatar" id="6287"><a class="avatar" href="https://shikimori.one/Hanamori" title="Hanamori"><img alt="Hanamori" src="/Эпизод 55 _ {{anime_videos['active_video']['anime_english']}} _ Аниме_files/6287.png" srcset="https://moe.shikimori.one/system/users/x64/6287.png?1553797784 2x"></a></div>
                              <div class="b-user c-column avatar" id="2620"><a class="avatar" href="https://shikimori.one/Himura+Yumi" title="Himura Yumi"><img alt="Himura Yumi" src="/Эпизод 55 _ {{anime_videos['active_video']['anime_english']}} _ Аниме_files/2620.png" srcset="https://nyaa.shikimori.one/system/users/x64/2620.png?1352396561 2x"></a></div>
                              <div class="b-user c-column avatar" id="2649"><a class="avatar" href="https://shikimori.one/Kensan" title="Kensan"><img alt="Kensan" src="/Эпизод 55 _ {{anime_videos['active_video']['anime_english']}} _ Аниме_files/2649.png" srcset="https://dere.shikimori.one/system/users/x64/2649.png?1447461207 2x"></a></div>
                              <div class="b-user c-column avatar" id="24537"><a class="avatar" href="https://shikimori.one/Kittee7" title="Kittee7"><img alt="Kittee7" src="/Эпизод 55 _ {{anime_videos['active_video']['anime_english']}} _ Аниме_files/24537.png" srcset="https://moe.shikimori.one/system/users/x64/24537.png?1549024158 2x"></a></div>
                              <div class="b-user c-column avatar" id="19910"><a class="avatar" href="https://shikimori.one/Koshiko~" title="Koshiko~"><img alt="Koshiko~" src="/Эпизод 55 _ {{anime_videos['active_video']['anime_english']}} _ Аниме_files/19910.png" srcset="https://nyaa.shikimori.one/system/users/x64/19910.png?1419164496 2x"></a></div>
                              <div class="b-user c-column avatar" id="6186"><a class="avatar" href="https://shikimori.one/Nikolay+Ramires" title="Nikolay Ramires"><img alt="Nikolay Ramires" src="/Эпизод 55 _ {{anime_videos['active_video']['anime_english']}} _ Аниме_files/6186.png" srcset="https://kawai.shikimori.one/system/users/x64/6186.png?1367070137 2x"></a></div>
                              <div class="b-user c-column avatar" id="15809"><a class="avatar" href="https://shikimori.one/polina+chernisheva" title="polina chernisheva"><img alt="polina chernisheva" src="/Эпизод 55 _ {{anime_videos['active_video']['anime_english']}} _ Аниме_files/15809.png" srcset="https://dere.shikimori.one/system/users/x64/15809.png?1454618067 2x"></a></div>
                              <div class="b-user c-column avatar" id="21248"><a class="avatar" href="https://shikimori.one/S1z" title="S1z"><img alt="S1z" src="/Эпизод 55 _ {{anime_videos['active_video']['anime_english']}} _ Аниме_files/21248.png" srcset="https://desu.shikimori.one/system/users/x64/21248.png?1543439242 2x"></a></div>
                              <div class="b-user c-column avatar" id="19039"><a class="avatar" href="https://shikimori.one/%D0%B8%D0%B3%D0%B0%D1%80+%E0%B2%A0_%E0%B2%A0" title="игар ಠ_ಠ"><img alt="игар ಠ_ಠ" src="/Эпизод 55 _ {{anime_videos['active_video']['anime_english']}} _ Аниме_files/19039.png" srcset="https://dere.shikimori.one/system/users/x64/19039.png?1514718516 2x"></a></div>
                              <div class="b-user c-column avatar" id="21336"><a class="avatar" href="https://shikimori.one/%D0%9C%D0%B0%D1%81%D0%B0%D0%BC%D1%83%D0%BD%D1%8D+%D0%A2%D0%B0%D0%BA%D0%B0%D0%BD%D0%BE" title="Масамунэ Такано"><img alt="Масамунэ Такано" src="/Эпизод 55 _ {{anime_videos['active_video']['anime_english']}} _ Аниме_files/21336.png" srcset="https://kawai.shikimori.one/system/users/x64/21336.png?1404508497 2x"></a></div>
                           </div>
                        </div>
                        <div class="block">
                           <div class="subheadline m10">
                              <a class="" href="https://shikimori.one/animes/{{anime_id}}/clubs">
                                 В клубах
                                 <div class="count">4</div>
                              </a>
                           </div>
                           <div class="b-clubs one-line">
                              <div class="b-club c-colum avatar " id="776"><a href="https://shikimori.one/clubs/776-shiza-project" title="SHIZA Project"><img alt="SHIZA Project" class="logo" src="/Эпизод 55 _ {{anime_videos['active_video']['anime_english']}} _ Аниме_files/776.jpg" srcset="https://kawai.shikimori.one/system/clubs/x96/776.jpg?1477846847 2x"></a></div>
                              <div class="b-club c-colum avatar " id="1692"><a href="https://shikimori.one/clubs/1692-sh-nen-spirit" title="Shōnen Spirit"><img alt="Shōnen Spirit" class="logo" src="/Эпизод 55 _ {{anime_videos['active_video']['anime_english']}} _ Аниме_files/1692.gif" srcset="https://moe.shikimori.one/system/clubs/x96/1692.gif?1542053970 2x"></a></div>
                              <div class="b-club c-colum avatar " id="16"><a href="https://shikimori.one/clubs/16-sportivnye-anime-i-manga-spokony" title="Спортивные аниме и манга (Споконы)"><img alt="Спортивные аниме и манга (Споконы)" class="logo" src="/Эпизод 55 _ {{anime_videos['active_video']['anime_english']}} _ Аниме_files/16.png" srcset="https://kawai.shikimori.one/system/clubs/x96/16.png?1423511354 2x"></a></div>
                              <div class="b-club c-colum avatar " id="191"><a href="https://shikimori.one/clubs/191-anime-danger" title="Anime Danger"><img alt="Anime Danger" class="logo" src="/Эпизод 55 _ {{anime_videos['active_video']['anime_english']}} _ Аниме_files/191.gif" srcset="https://kawai.shikimori.one/system/clubs/x96/191.gif?1472753780 2x"></a></div>
                           </div>
                        </div>
                        <div class="block">
                           <div class="subheadline m5">
                              <a class="" href="https://shikimori.one/animes/{{anime_id}}/collections">
                                 В коллекциях
                                 <div class="count">11</div>
                              </a>
                           </div>
                           <div class="block">
                              <div class="b-menu-line"><a class="b-link" href="https://shikimori.one/collections/1956-zavershyonnye-anime-adaptatsii">Завершённые аниме-адаптации</a></div>
                              <div class="b-menu-line"><a class="b-link" href="https://shikimori.one/collections/1418-kakie-tri-anime-vy-by-vzyali-na-neobitaemyy-ostrov">Какие три аниме вы бы взяли на необитаемый остров</a></div>
                              <div class="b-menu-line"><a class="b-link" href="https://shikimori.one/collections/1158-syoneny-po-kolichestvu-seriy">Сёнены по количеству серий</a></div>
                           </div>
                        </div>
                        <div class="b-menu-links menu-topics-block history m30" data-source_url="https://shikimori.one/animes/{{anime_id}}/episode_torrents">
                           <div class="subheadline">Новости</div>
                           <div class="block"><a class="b-menu-line entry b-link" href="https://shikimori.one/forum/animanga/108956-pervoe-promo-video-anime-ace-of-diamond" itemprop="discussionUrl"><span class="time"><time data-format="1_day_absolute" datetime="2013-09-11T23:27:29+04:00">11 сент. 2013 г.</time></span><span class="name">Первое промо-видео аниме «Ace of Diamond»</span></a></div>
                        </div>
                        <div class="block">
                           <div class="subheadline">На других сайтах</div>
                           <div class="b-menu-line b-external_link official_site"><a class="b-link" href="http://www.diaace.com/">Официальный сайт</a></div>
                           <div class="b-menu-line b-external_link wikipedia"><a class="b-link" href="http://en.wikipedia.org/wiki/Ace_of_Diamond">Wikipedia</a></div>
                           <div class="b-menu-line b-external_link anime_news_network"><a class="b-link" href="http://www.animenewsnetwork.com/encyclopedia/anime.php?id=15337">Anime News Network</a></div>
                           <div class="b-menu-line b-external_link myanimelist"><a class="b-link" href="http://myanimelist.net/anime/18689">MyAnimeList</a></div>
                           <div class="b-menu-line b-external_link anime_db"><a class="b-link" href="http://anidb.info/perl-bin/animedb.pl?show=anime&amp;aid=9881">AniDB</a></div>
                           <div class="b-menu-line b-external_link world_art"><a class="b-link" href="http://www.world-art.ru/animation/animation.php?id=1675">World Art</a></div>
                           <div class="b-menu-line b-external_link kage_project"><a class="b-link" href="http://fansubs.ru/base.php?id=4421">Kage Project</a></div>
                        </div>
                     </div>
-->
                  </aside>
               </div>
            </div>
         </div>
         <footer class="l-footer">
            <div class="copyright">© shikimori.one&nbsp;<span class="date">2011-2019</span></div>
            <div class="links"><a class="terms" href="https://shikimori.one/terms" tabindex="-1" title="Соглашение">Соглашение</a><a class="privacy" href="https://shikimori.one/privacy" tabindex="-1" title="Конфиденциальность">Конфиденциальность</a><a class="for-right-holders" href="https://shikimori.one/for_right_holders" tabindex="-1" title="Для правообладателей">Для правообладателей</a><a class="sitemap" href="https://shikimori.one/sitemap" tabindex="-1" title="Карта сайта">Карта сайта</a></div>
         </footer>
         <ins class="mrg-tag" data-ad-client="ad-99457" data-ad-slot="99457" style="width:100%;"></ins>
      </section>
      <div class="b-shade"></div>
      <div class="b-to-top">
         <div class="slide"></div>
         <div class="arrow"></div>
      </div>
      <script id="js_export">window.JS_EXPORTS = {"user_rates":{"catalog_entry":[],"user_rate":[]},"topics":[],"comments":[],"polls":[]};</script><script>
         //<![CDATA[
         window.gon={};
         //]]>
      </script>
      <div id="cursorMessageDiv" style="display: none;">&nbsp;</div>
   </body>
</html>
